@page
@{
}

<form asp-method="post" asp-action="Result">
    <p>Enter your first name</p>
    <input type ="text" name="FirstName" />
    <p>Enter your last name</p>
    <input type ="text" name="LastName" />
    <p> Enter a valid email address</p>
    <input type ="text" name="EmailAddress" />
    <p>Enter a password</p>
    <input type ="password" password = "password" />

    <input type="submit"/>
</form>