@{
    ViewData["Title"] = "Home Page";
    string value = "Welcome to the Coffee Shop";
}

<div class="text-center">
    <h1 class="display-4">@value</h1>
    <p>Click on the registration link above to join our website</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

