@{
    ViewData["Title"] = "Home Page";
    string value = "Welcome to the Coffee Shop";
}

<body style=" background-color: sandybrown">
    <div class="text-center"; style= "background-color: tan">
        <h1 class="display-4">@value</h1>
        <p>Click on the registration link above to join our website <img height="50px" ; src="https://t4.ftcdn.net/jpg/00/43/99/81/360_F_43998133_4Pf0crjj0nPE7i7E1xC2ztzAU71aHsYB.jpg" /></p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    </body>